.navbar-dark .navbar-nav .nav-item.active a {
  color: #fff; }

.navbar-dark .navbar-nav .dropdown-menu .nav-item.active a {
  color: #000; }

.page-wrapper {
  margin: 3em 0; }

a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px; }
